.MuiContainer-root.taskDashboard {
    background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MuiDateCalendar-root.taskDashboard-calendar {
    margin-right: 0;
    margin-left: 0;
}


.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.MuiTypography-root.MuiTypography-caption.MuiDayCalendar-weekDayLabel.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.MuiPickersCalendarHeader-label.css-dplwbx-MuiPickersCalendarHeader-label {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today.css-23p0if-MuiButtonBase-root-MuiPickersDay-root {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    border-radius: 12px;
}

.MuiPickersYear-yearButton.css-innj4t-MuiPickersYear-yearButton {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}